<div class="container">

    <script type="text/ng-template" id="myModalGenericList.html">
        <div class="TitulosDeSeccion">
            <h1><small>Editar  </small>{{itemUpdate.Titulo}}</h1>
        </div>
        <form ng-submit="closeThisDialog(itemUpdate.item)">
            <div class="modal-body">

                <div class="form-group">
                    <label for="Descripcion">Descripcion</label> 
                    <input type="text" class="form-control" id="Descripcion" placeholder="Descripcion" ng-model="itemUpdate.item.descripcion" required>
                </div>



            </div>
            <div class="modal-footer">
                 <button type="submit"   class="btn btn-primary">
                          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
                
                 <button ng-click="closeThisDialog(false)" type="button" class="btn btn-warning" aria-label="Left Align">
                     <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
            </div>
            </form>
        
    </script>
     <p>
        <button type="button" ng-click="Editar()" class="btn btn-success"><span>Crear</span></button>
    </p>

<div class="TitulosDeSeccion">
  <small>Listado de  </small>{{Titulo}}
</div>

    <p class="lead">
        
        <div id="grid1" ui-grid="gridOptions" class="grid"></div>    
        
    </p>

</div>