<nav class="navbar navbar-default">
    <div class="container-fluid" ng-controller="HeaderCtrl">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">€uromillones</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li ng-class="{active:isActive('/')}"><a href="#/">Inicio</a></li>
                <li ng-show="IsLogin()" ng-class="{active:isActive('/MisDatos')}"><a ng-href="#/MisDatos">Mis Datos</a></li>
                
                <li ng-show="IsAdmin()" ng-class="{active:isActive('/UserList')}"><a ng-href="#/UserList">Lista Usuarios</a></li>
                
                
                
                

               
                
    
                <li class="dropdown" ng-show="IsAdmin()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apuesta<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="IsAdmin()" ng-class="{active:isActive('/ApuestaCrear')}"><a ng-href="#/ApuestaCrear">Crear</a></li>
                        <li ng-show="IsAdmin()" ng-class="{active:isActive('/ApuestaCerrar')}"><a ng-href="#/ApuestaCerrar">Cerrar</a></li>
                        <li ng-show="IsAdmin()" ng-class="{active:isActive('/ApuestaFinalizar')}"><a ng-href="#/ApuestaFinalizar">Finalizar</a></li>

                    </ul>
                </li>

                

                <li class="dropdown" ng-show="IsAdmin()" ng-class="{active:isActive('/RolList') || isActive('/EstadoJugadoresList') || isActive('/EstadoApuestaList') || isActive('/TiposMovimientos')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion Tipos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="IsAdmin()" ng-class="{active:isActive('/RolList')}"><a ng-href="#/RolList">Roles</a></li>
                        <li ng-show="IsAdmin()" ng-class="{active:isActive('/EstadoJugadoresList')}"><a ng-href="#/EstadoJugadoresList">Estado Jugadores</a></li>
                        <li ng-show="IsAdmin()" ng-class="{active:isActive('/EstadoApuestaList')}"><a ng-href="#/EstadoApuestaList">Estado Apuestas</a></li>
                        <li ng-show="IsAdmin()" ng-class="{active:isActive('/TiposMovimientos')}"><a ng-href="#/TiposMovimientos">Tipos Movimientos</a></li>

                    </ul>
                </li>
                
                
                
                
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li ng-show="!IsLogin()" class="dropdown" id="menuLogin">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">

                        <button type="button">
                            <img src="img/Login-icon.png" height="40" width="30"/>
                        </button>
                    </a>
                    <div class="dropdown-menu" style="padding:17px;">
                        <form ng-submit="login()">
                            <div class="form-group">
                                <label for="username">Usuario</label>
                                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username" required>

                            </div>

                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
                            </div>

                            <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    </form>
                </li>


                <li ng-show="session.VerMonedaServer">
                    <img src="img/Moneda1Euro.gif" alt="Smiley face" height="50" width="50">
                   
                </li>

                <li ng-show="IsLogin()">
                    <a ng-href="#/UserEdit">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="text-right">{{session.User.username}}</span> |
                        <span class="text-right">Expira:{{session.FechaInExpire}}</span></a>
                </li>


                <li ng-show="IsLogin()">
                    <a title="Desconexion" href="javascript:" ng-click="logout()">
                        <button type="button" class="btn btn-success btn-default btn-sm">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Desconectar
                        </button>

                    </a>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>