<nav class="navbar navbar-default">
    <div class="container-fluid" ng-controller="HeaderCtrl">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">€uromillones</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li ng-class="{active:isActive('/')}"><a href="#/">Home</a></li>
                <li ng-show="IsAdmin()" ng-class="{active:isActive('/UserList')}"><a ng-href="#/UserList">Lista Usuarios</a></li>

                </li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lista <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Opcion 1</a></li>
                        <li><a href="#">Opcion 2</a></li>
                        <li><a href="#">Opcion 3</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li ng-show="IsLogin()">
                    <a ng-href="#/UserEdit">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="text-right">{{session.User.username}}</span>
                        <span class="text-right">Expira:{{session.FechaInExpire}}</span></a>
                </li>
                <li ng-show="!IsLogin()">
                    <a title="Conectar" ng-href="#/login">
                        <button type="button" class="btn btn-danger btn-default btn-sm">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Conectar
                        </button>
                    </a>

                </li>
                <li ng-show="IsLogin()"><a title="Desconexion" href="javascript:" ng-click="logout()">
                    <button type="button" class="btn btn-success btn-default btn-sm">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Desconectar
                        </button>
                   
                    </a></li>




            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>