<div class="container"  ng-controller="HeaderCtrl" >
<div class="row">
   <div class="col-sm-10">
     
   </div>
   
   <div class="col-sm-12">
     
   </div>
  
  
  
</div>
  
  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
<li  ng-class="{active:isActive('/')}"><a href="#/">Home</a>
</li>        
<li ng-show="IsLogin()" ng-class="{active:isActive('/page3')}"><a ng-href="#/page3">Page 3 (Sample Factory)</a>
</li>

<li ng-show="IsLogin()" ng-class="{active:isActive('/UserEditCtrl')}"><a ng-href="#/UserEdit">Perfil</a>
</li>

<li ng-show="IsAdmin()" ng-class="{active:isActive('/UserList')}"><a ng-href="#/UserList">Lista Usuarios</a>
</li>
<li ng-show="IsLogin()" ><a href="javascript:" ng-click="logout()">Logout</a>
</li>

<li ng-show="!IsLogin()" ng-class="{active:isActive('/login')}"><a ng-href="#/login">Login</a>
</li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



<div class="container" >
      <div class="row" ng-show="IsLogin()">
        <div class="col-sm-2">

        </div><!--/span-->
        <div class="col-sm-12">
          <div class="jumbotron">
            <h3>€uroMillones</h1>
            <span class="text-right">{{session.user.username}}</span>
                  <span class="text-right">Expira:{{session.FechaInExpire}}</span>
          </div>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->
    
</div>

</div>