<div class="container-fluid">

<div class="row ">
  
  <div class="col-md-6">
       <div class="quote-container">
          <i class="pin"></i>
          <blockquote class="note yellow">
           <img src="img/EnConstruccion.jpg" height="200" width="200"></img>
           <cite class="author">En Construcción</cite>
          </blockquote>
        </div>
    </div>
    
  <div class="col-md-6">
     <div class="quote-container">
          <i class="pin"></i>
          <blockquote class="note yellow">
            La nueva página de los <h1> <span class="glyphicon glyphicon-euro">uromillones</h1>
            <cite class="author"><span class="glyphicon glyphicon-copyright-mark">Aure 2016</cite>
          </blockquote>
        </div>
    </div>
  
  </div>
</div>

 
</div>
