<div class="container-fluid">

<div class="row ">
  
  <div class="col-md-6">
      
    </div>
    
  <div class="col-md-6">
       <div class="quote-container">
          <i class="pin"></i>
          <blockquote class="note yellow">
           <div>
           La nueva página de  <h1> <span class="glyphicon glyphicon-euro">uromillones</h1>
           </div>
           
           <img src="img/EnConstruccion.jpg" height="200" width="200"></img>
           
           <cite class="author">En Construcción</cite>
          </blockquote>
        </div>
    </div>
  
  </div>
</div>


<div data-pagination="" data-num-pages="3" 
  data-current-page="1" data-max-size="10"  
  data-boundary-links="true"></div>

 
</div>
