<div class="container">
    <p>
        <button type="button" ng-click="Editar()" class="btn btn-primary">Crear Jugador</button>
    </p>



    <script type="text/ng-template" id="myModalUser.html">
        <div class="modal-header">
            <h3 class="modal-title">Modificar Usuario</h3>
        </div>
        <form autocomplete="off" ng-submit="ok()">
            <div class="modal-body">
            
            <div class="form-group">
                    <label for="Saldo">Saldo</label>
                    <input type="number" class="form-control" id="Saldo" placeholder="Saldo" ng-model="userEdit.Saldo.saldo" required>
                </div>
            

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="userEdit.username" required>
                </div>

                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="N" placeholder="Nombre" ng-model="userEdit.Nombre" required>
                </div>


                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password" placeholder="password" ng-model="userEdit.password" required>
                </div>


                <div class="form-group">
                    <label for="CorreoExterno">CorreoExterno</label>
                    <input type="email" class="form-control" id="CorreoExterno" placeholder="CorreoExterno" ng-model="userEdit.CorreoExterno">
                </div>

                <div class="form-group">
                    <label for="role ">Tipo de Usuario</label>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle form-control" type="button" data-toggle="dropdown">{{RolSeleccionado.Name}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in ListaRoles"><a ng-click="dropboxitemselected(item)">{{item.Name}}</a></li>
                        </ul>
                    </div>


                </div>




                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" ng-click="cancelar()" class="btn btn-primary">Cancalar</button>
            </div>
        </form>
    </script>



    <p class="lead">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>username</th>
                <th>password</th>
                <th>Rol</th>
                <th>activo</th>
                 <th>Saldo</th>
                <th>Accion</th>
            </tr>
            <tr ng-repeat="u in usuarios | orderBy:'username'">
                <td>{{u.id}}</td>
                <td>{{u.Nombre}}</td>
                <td>{{u.username}}</td>
                <td>{{u.password}}</td>
                <td>{{u.TiposRole.descripcion}}</td>
                <td>{{u.activo}}</td>
                <td>{{u.Saldo.saldo}}</td>
                <td>
                    <button type="button" ng-click="Editar(u)" class="btn btn-primary">Editar</button>
                    <button type="button" ng-click="Borrar(u)"  class="btn btn-primary">Borrar</button>
                </td>


            </tr>

        </table>
    </p>

</div>
