<div class="container">
    <legend>Editar usuario</legend>


<form ng-submit="save()">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username" required>
    </div>

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Nombre" ng-model="user.Nombre" required>
    </div>


    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" placeholder="password" ng-model="user.password" required>
    </div>
    
    
    <div class="form-group">
        <label for="CorreoExterno">CorreoExterno</label>
        <input type="email" class="form-control" id="CorreoExterno" placeholder="CorreoExterno" ng-model="user.CorreoExterno">
    </div>
    
     <div class="form-group"  ng-show="IsAdmin()">
        <label for="role ">Tipo de Usuario</label>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle form-control" type="button" data-toggle="dropdown">{{RolSeleccionado.Name}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-repeat="item in ListaRoles" ><a ng-click="dropboxitemselected(item)">{{item.Name}}</a></li>
          </ul>
        </div>
        
        
    </div>




    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" ng-click="cancelar()" class="btn btn-primary">Cancalar</button>
    
</form>

</div>