<div class="container">
    <p>
        <button type="button" ng-click="Editar()" class="btn btn-primary">Crear Jugador</button>
    </p>


 <script type="text/ng-template" id="PanelIncrementarSaldo">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Incrementar saldo de <b> {{UserIncrementar.Nombre}} </b></h3>
          </div>
          <div class="panel-body">
              <div class="thumbnail">
    
      <div class="caption">
       
        <p>Incrementar en <input class="incrementaSaldo" type="number" id="Saldo" placeholder=" + Saldo" ng-model="UserIncrementar.Saldo.IncrementoSaldo" required>
        ({{UserIncrementar.Saldo.IncrementoSaldo + UserIncrementar.Saldo.saldo_$u}})</p>
        <p><button type="button" class="btn btn-primary" ng-click="closeThisDialog(UserIncrementar)">Incremetar</button>
        <button type="button" class="btn btn-danger" ng-click="closeThisDialog(false)">Cancelar</button>
        </p>
      </div>
    </div>
          </div>
      </div>

 </script>

    <script type="text/ng-template" id="myModalUser.html">
        <div class="modal-header">
            <h3 class="modal-title">Modificar Usuario</h3>
        </div>
       
            <div class="modal-body">
            
            <div class="form-group">
                    <label for="Saldo">Saldo</label>
                    <input type="number" class="form-control" id="Saldo" placeholder="Saldo" ng-model="userEdit.Saldo$.saldo" required>
                </div>
            

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="userEdit.username$" required>
                </div>

                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="N" placeholder="Nombre" ng-model="userEdit.Nombre$" required>
                </div>


                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password" placeholder="password" ng-model="userEdit.password$" required>
                </div>


                <div class="form-group">
                    <label for="CorreoExterno">CorreoExterno</label>
                    <input type="email" class="form-control" id="CorreoExterno" placeholder="CorreoExterno" ng-model="userEdit.CorreoExterno$">
                </div>

                <div class="form-group">
                    <label for="role ">Tipo de Usuario</label>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle form-control" type="button" data-toggle="dropdown">{{RolSeleccionado.Name}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in ListaRoles"><a ng-click="dropboxitemselected(item)">{{item.Name}}</a></li>
                        </ul>
                    </div>


                </div>
            
                
                <button  type="button" class="btn btn-primary" ng-click="closeThisDialog(userEdit)">
                          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </button>
                
                 <button ng-click="closeThisDialog(false)" type="button" class="btn btn-warning" aria-label="Left Align">
                      <span class="glyphicon glyphicon-off"></span>
                    </button>
               
            </div>
        </form>
    </script>
    

    <div id="grid1" ui-grid="gridOptions" class="grid"></div>    
   
</div>
