<div class="container">
 <p>
    <button type="button" ng-click="Crear()" class="btn btn-primary">Crear Jugador</button>
 </p>
 
  <p class="lead">
    <table class="table table-striped">
      <tr>
         <th>Id</th>
         <th>Nombre</th>
        <th>username</th>
        <th>password</th>
        <th>role</th>
        <th>activo</th>
        <th>CorreoExterno</th>
        <th>Accion</th>
      </tr>      
      <tr ng-repeat="u in usuarios | orderBy:'username'">
        <td>{{u.id}}</td>
        <td>{{u.Nombre}}</td>
        <td>{{u.username}}</td>
        <td>{{u.password}}</td>
        <td>{{u.TiposRole.Name}}</td>
        <td>{{u.activo}}</td>
        <td>{{u.CorreoExterno}}</td>
         <td><button type="button" ng-click="Editar(u)" class="btn btn-primary">Editar</button>
         <button type="button" ng-click="Borrar(u)" class="btn btn-primary">Borrar</button></td>
        
        
      </tr>
     
    </table>
  </p>
 
</div>

